.card-container {
    margin-top: 20px;

    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: rgba(170, 180, 180, 0.836);

    border: solid white 2px;
    border-radius: 8px; 
}